/* Will be compiled down to a single stylesheet with your sass files */



.list-group {
    margin-bottom: 0 !important;
}

.categoruItem {
    color: black;
    font-weight: bold;
    cursor: pointer;
}


.taskBlocks {
    margin-right: 30px;
}



.three > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.three > ul > li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1em;
}

.three > ul > li div {
    padding-left: 1em;
    position: relative;
    color: black;
}

.three > ul > li div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

.three > ul > li:last-child {
    border-left: 2px solid transparent;
}


.validationMessage-modal {
    color: red;
font-size: 27px;
margin: 0;
margin-bottom: -22px;
}



.blackGroupsList {
    color: black;
    cursor: pointer;
}


.black {
    color: black;
}

.tag{
    color:blue;
}