/* Will be compiled down to a single stylesheet with your sass files */



.list-group {
    margin-bottom: 0 !important;
}

.categoruItem {
    color: black;
    font-weight: bold;
    cursor: pointer;
}