<div class="row">
    <div class="well col-md-3">
        <h3>Tasks:</h3>
        <form>
            <div class="form-group black">
                <label class="control-label">Compleated:</label>
                <div class="controls">
                    <span>{{myData.CompleatedTasksCount}} task(s)</span>
                </div>
            </div>
            <div class="form-group black">
                <label class="control-label">New:</label>
                <div class="controls">
                    <span>{{myData.NewTaskCount}} task(s)</span>
                </div>
            </div>
        </form>
    </div>
    <div class="well col-xs-offset-1 col-md-3">
        <h3>My Groups:</h3>
        <form>
            <div class="form-group black">
                <label class="control-label">Geroups:</label>
                <div class="controls" ng-repeat="group in myData.Groups">
                    <span>{{group.Title}}</span><br />
                </div>
            </div>
        </form>
    </div>
    <div class="well col-md-12">
        <h3>Schedule</h3> <hr />
        <div style="width: 100%; word-wrap: break-word; color: black" ng-bind-html="currentTaskInfo.text"></div>
    </div>
</div>