<div class="row">
    <div class="col-md-3">
        <h2>Students:</h2>
        <ul class="list-group" ng-repeat="student in students">
            <li class="list-group-item" ng-click="selectStudent(student)">
                <a>{{student.LastAndFirstName}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="slide-animate-container">
            <div id="chartContainer" class="well" ng-show="isStudentSelected">
                <chartjs width="MyChart.width" height="MyChart.height" data="MyChart.data" options="MyChart.options" is-type="Line"></chartjs>
            </div>
        </div>
    </div>
</div>